services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
        - ACCEPT_EULA=Y
        - MSSQL_SA_PASSWORD=Password123!
    ports:
        - "8095:1433"
    healthcheck:
        test: [ "CMD", "/opt/mssql-tools/bin/sqlcmd", "-S", "localhost,1433", "-U", "sa", "-P", "Password123!", "-Q", "SELECT 1" ]
        interval: 10s
        timeout: 5s
        retries: 5
    volumes:
        - sqlserver_data:/var/opt/mssql
    networks: 
        - app-network
  backend:
    build:
      context: ../
      dockerfile: ChoreBuddies.Backend/Dockerfile
    env_file:
      - .env
    ports:
      - "5000:8080"
    depends_on:
      - sqlserver
    restart: on-failure
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=ChoreBuddiesDB;User=sa;Password=Password123!;TrustServerCertificate=True;MultipleActiveResultSets=true;
      - JwtOptions__Secret=936a4398b0219e3c70f61acea1f03cc9725b780caf4afa13567ac48f660c88d0562f02f2071275d8031e807b096c69afd9e85884f3edd4c2c49abe322139dfb9
      - JwtOptions__AccessTokenExpirationMinutes=15
      - JwtOptions__RefreshTokenExpirationDays=7
      - JwtOptions__Issuer=http://backend:8080
      - JwtOptions__Audience=http://frontend:8080
    networks:
      - app-network   
  frontend:
    build:
      context: ../
      dockerfile: ChoreBuddies.Frontend/Dockerfile
    ports:
      - "5001:8080"
    depends_on:
      - backend
    restart: on-failure
    environment: 
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - app-network  
networks:
  app-network:
    driver: bridge
    
volumes:
  sqlserver_data:
